@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PortfolioAdminLayout.cshtml";
}

<h2>İstatistik Sayfası</h2>

<div class="card text-white bg-primary mb-3" style="width:100%">
    <div class="card-body">
        <h5 class="card-title" style="color:white">Toplam Personel Sayısı: @ViewBag.employeeCount</h5>
    </div>
</div>
<div class="card text-white bg-secondary mb-3" style="width: 100%">
    <div class="card-body">
        <h5 class="card-title">En Yüksek Maaşlı Personel: @ViewBag.employeeSalary</h5>
    </div>
</div>
<div class="card text-white bg-warning mb-3" style="width=100%">
    <div class="card-body">
        <h5 class="card-title">Toplam Şehir Sayısı: @ViewBag.totalCityCoun</h5>
    </div>
</div>
<div class="card text-white bg-dark mb-3" style="width=100%">
    <div class="card-body">
        <h5 class="card-title">Yazılım Departmanı Personel Saysıı: @ViewBag.countSoftwareDepartment</h5>
    </div>
</div>
<div class="card bg-light mb-3" style="100%">
    <div class="card-body">
        <h5 class="card-title">Maksimum Maaşa Sahip Personel: @ViewBag.maxSalaryEmployee</h5>
    </div>
</div>